{% extends "base_templates/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class= "container">
        <div class="row">
            <div class= "col-md-offset-4 col-md-4">
                <h1> Create Camper Registration Account</h1>
                <h2>(Parents/Guardian Only)</h2>
                {{ wtf.quick_form(form) }}
                <br>
                <a href="{{url_for('auth.login')}}">Already have an account?</a>
            </div>
        </div>
    </div>
{% endblock %}