{% extends "base_templates/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class= "container">
        <div class="row">
            <div class= "col-md-offset-4 col-md-4">
                <h1> Parents Sign In </h1>
                <h3 class="fc-red"> Please use Google Chrome or Mozilla Firefox</h3>
                <form method=post action="{{ url_for('auth.login') }}">
                    {{ form.csrf_token }}
                    <h3>Primary Parent / Guardian Contact Information</h3>
                    <dl class="dl-horizontal">
                        {{ wtf.form_field(form.email) }}
                        {{ wtf.form_field(form.password) }}
                    </dl>
                    <span class="center-block">{{ wtf.form_field(form.submit)}}</span>
                </form>
                <br>
                <!-- <a href="">Forgot Password?</a> -->
            </div>
        </div>
    </div>
{% endblock %}