<html>
{% extends 'bootstrap/base.html' %}
<!-- {% import 'bootstrap/fixes.html' as fixes %} -->

{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{% endblock %}
{% block styles %}
    {{super()}}
    <link href="/static/css/newstyles.css" rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}HHSC{% endblock %}

<!-- Navigation -->
{% block body %}
    {% include 'base_templates/nav.html' %}
    <div class="container">
        {% include 'flash_messages.html' %}
        <div class="row">
            <h1 class="text-center"><span class="hhsc">H</span>INDU <span class="hhsc">H</span>ERITAGE <span class="hhsc">S</span>UMMER <span class="hhsc">C</span>AMP</h1>
            <h3 class="text-center">India Community Center, Rochester, NY</h3>
        </div>
        <div class="row">
            {% block content %}{% endblock content %}
        </div>
    </div>
    {% block scripts %} 
        {{super()}}
    {% endblock scripts %}
{% endblock body %}
</html>