<html>
{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/fixes.html' as fixes %}
{% from "_formhelpers.html" import render_field, render_table_field, render_radio_field, render_text_field %}

{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{% endblock %}
{% block styles %}
    {{super()}}
    <link href="/static/css/newstyles.css" rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}HHSC{% endblock %}

<!-- Navigation -->
{% block body %}
    {% include 'base_templates/nav.html' %}
    <div class="container">
        {% include 'base_templates/flash_messages.html' %}
        <div class="row">
            <h1 class="text-center"><span class="hhsc">H</span>INDU <span class="hhsc">H</span>ERITAGE <span class="hhsc">S</span>UMMER <span class="hhsc">C</span>AMP</h1>
            <h3 class="text-center">India Community Center, Rochester, NY</h3>
        </div>
        {% block content %}{% endblock content %}
    </div>
    {% block footer %}
    <div class="container-fluid bg-og">
        <div style="padding-top: 15px;" class="row">        
            <div class="col-md-12">
                <h3 class="text-center"> 2003 - 2017 © Hindu Heritage Summer Camp, Inc. ®</h3>
                <h3 class="text-center">hhsc.register@gmail.com</h3>
            </div>
        </div>
    </div>
    {% endblock footer %}
    {% block scripts %} 
        {{super()}}
    {% endblock scripts %}
{% endblock body %}

</html>