<html>
{% extends 'bootstrap/base.html' %}
<!-- {% import 'bootstrap/fixes.html' as fixes %} -->

{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{% endblock %}
{% block styles %}
    {{super()}}
    <link href="/static/css/newstyles.css" rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}HHSC{% endblock %}
<body>
<!-- Navigation -->
{% include 'base_templates/nav.html' %}
    <h1>HELLOOOO</h1>
    <div class="container">
        <div class="row">
        {% block content %}{% endblock %}
        </div>
    </div>
</body>

{% block scripts %}{% endblock %}
</html>