<nav class="navbar navbar-dark">
  <ul class="nav navbar-nav">

    <a class="navbar-brand" href="{{ url_for('home') }}"><img style="width: 50px;" src="static/images/hhsclogo.png"></a>
    <li class="nav-item">
      <a href="{{ url_for('home') }}" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="{{ url_for('about') }}" class="nav-link">About</a>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Camp <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Information</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Fees</a></li>
        <li><a href="{{ url_for('auth.create_account') }}">Registration</a></li>
      </ul>
    </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apply to be a...<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Karma Yoga Scholar (13-15)</a></li>
          <li><a href="#">Counselor (16+)</a></li>
          <li><a href="#">Medical Assistant</a></li>
          <li><a href="#">Assistant Manager</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Directors</a></li>
        </ul>
      </li>
      <li>
        <a>Contact</a>
      </li>
      <li> 
        <a>About</a>
      </li>
      {% if current_user.is_authenticated() %}
      <li class="nav-item pull-right">
        <a href="{{url_for('auth.logout')}}">Logout</a>
      </li>
      <li class= "nav-item pull-right">
        <a href="{{url_for('dashboard')}}">{{ current_user.email }}</a>
      </li>
      {% endif %}
<!--     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li> -->
  </ul>
<!--   <form class="form-inline float-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form> -->
</nav>
