<nav class="navbar navbar-dark">
  <a class="navbar-brand" href="{{ url_for('home') }}"><img style="width: 50px;" src="static/images/hhsclogo.png"></a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('auth.create_account') }}">Apply For Camp</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Counselor Application</a>
    </li>
    <li>
      <a>Photo Gallery</a>
    </li>
    <li>
      <a>Contact AVINASH</a>
    </li>
    <li> 
      <a>About</a>
    </li>

    {% if current_user.is_authenticated %}
    <li class="nav-item pull-right">
      <a href="{{url_for('auth.logout')}}">Logout</a>
    </li>
    <li class= "nav-item pull-right">
      <a href="{{url_for('dashboard')}}">{{ current_user.email }}</a>
    </li>

    {% endif %}
<!--     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li> -->
  </ul>
<!--   <form class="form-inline float-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form> -->
</nav>
