nav {
    font-size: 14px;
}

.navbar {
    box-shadow: 0px 0px 5px 1px #bbb;
}

.bg-og {
    background-color: #f90;
}

.bg-og-light {
    background-color: #FFC164;
}

.hhsc {
    font-size: 48px;
}

.navbar-brand {
    padding: 0px 15px;
}

dl {
    font-size: 16px;
}

.home-box {
    padding: 0 0 2px 0;
    border: 1px solid #000;
}

.home-box h2 {
    padding: 3px;
    background-color: #ffb631;
    border-bottom: 1px solid #000;
}

.home-box a{
    padding-left: 7px;
    font-size: 14px;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.infolabel {
    font-weight: bold;
}

.fc-light {
    color: #f5f5f5;
}

.error-red {
    color: #FF1800;
}
}