{% extends "base_templates/base.html" %}
{% block content %}
    {% include 'flash_messages.html' %}
<div class="col-md-6 col-md-offset-3">
    <p>
    Although the priority of HHSC is to expose youth to the richness of Hinduism, we by no means neglect their desires for 'fun in the sun'! Camp mornings are devoted to yoga, puja, chanting and philosophy, but our afternoons are filled with exciting sports and games, creative arts and crafts, dance and other fun-filled activities. Campers participate in a different evening programs such as campfires, dances, concerts, and special pujas. Throughout all of these activities, they are building friendships that last a lifetime. HHSC is an experience that your children will never forget.  
    <br>
    In addition to our curriculum being unique and effective, the most important feature of HHSC is that all of our programming and teaching is done by motivated young adults. As many of us know, parents face great challenges in teaching Hindu traditions and philosophy to our children. However, when the teachers are young adults, children are much more enthusiastic to learn and respect the same teachings. While young adults are in charge of programming, teaching, and caring for the children, be assured that there is always ample adult supervision.
    </p>
</div>

{% endblock %}