{% extends "base_templates/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p><strong>About the Assistant Manager Position</strong><br></p>
        <p>The Assistant Manager position is a great opportunity for a previous staff member or head counselor to acquire operational experience in running a camp from behind the scenes. The Assistant Manager reports directly to the Board, Camp Manager, and Head Chef. The Assistant Manager is responsible for managing volunteers to prepare and serve breakfast and both snacks. Additionally, they are responsible for assisting with lunch and dinner preparation and serving. They must also keep track of any campers with food allergies and take stock of kitchen supplies in terms of milk, orange juice, butter, cereal, snacks etc. They are also responsible for carrying out administrative duties assigned by the Board and Camp Manager. 
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p><strong>Requirements</strong><br></p>        
        <li>Must be a previous staff member or head counselor</li>
        <li>Must be at least 18 years old when the camp starts</li>
        <li>Must have strong organizational skills, good management skills, and think ahead</li>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="row">
            <div class="col-md-7">
                <p><strong>Stipend and Logistics</strong><br></p>
                <p>There are three shifts for each week for which you can apply (Note: Food and Lodging will be provided at the camp grounds)
                </p><br>
                <li>Shift A (Full week): Sat 10:00 AM – Sat 5 PM (Stipend: $600)</li>
                <li>Shift B (Half week): Sat 10:00 AM – Wed 4:00 PM (Stipend: $350)</li>
                <li>Shift C (Half week): Wed 10:00 AM – Sun 4:00 PM (Stipend: $350)</li>
            </div>
            <div class="col-md-5">
                <img src="{{ url_for('static', filename='images/AssistantManagerSchedule.png') }}" width='100%'>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p><strong>Requirements</strong><br></p>
        Counselors are selected based on the following criteria: 
        <li>Must be at least 18 years old when the camp starts</li>
        <li>Must have completed and be currently certified by the Red Cross in “First Aid: Responding to Emergencies” and “CPR for Professional Rescuer”</li>
        <li>Must attend the entire session (including one day prior to and one day after the camp session)</li>
        <li>(Optional) Lifeguard and other certifications are a plus</li>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p><strong>Medical Assistant Application Process</strong><br></p>
        Please send an email to Padmanabh Kamath (ckamath1@rochester.rr.com) with the following:
        <li>Brief Essay: “Why are you applying to be a Medical Assistant? Why will you make a good medical assistant?”</li>
        <li>Recent Digital Photo of yourself.</li>
        <li>Latest Resume</li>
        Note: The Subject field should say: Session <#>: Medical Assistant Position  
        <br>
        Additionally, please provide a reference letter via email or mail to: 
        <div class="text-center">
            <p>Padmanabh Kamath<br>
            Hindu Heritage Summer Camp<br>
            15 Bretton Woods Dr. <br>
            Rochester, NY 14618 <br>
            </p>
        </div>
    </div>
</div>

{% endblock %}
