{% extends "base_templates/base.html" %}
{% block content %}
<div class="row">
    <h2>Contact Us</h2>
</div>
<div class="row">
    <div class="col-md-7">
        <p><strong>Camp Location</strong></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4302.989378008769!2d-77.37778846781711!3d43.12609225418885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d6d2812542afab%3A0xa28f2627f8af7d1e!2sIndia+Community+Center!5e0!3m2!1sen!2sus!4v1482182204252" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p>
        Hindu Heritage Summer Camp is held at the India Community Center in Rochester, NY. <br><br>
        <a href="https://www.google.com/maps/place/2171+Monroe-Wayne+County+Line+Rd,+Macedon,+NY+14502/@43.1255299,-77.3777184,17.64z/data=!4m5!3m4!1s0x89d6d281be57980d:0x3b2dbd84c38ceeb5!8m2!3d43.125684!4d-77.3767249">2171 Monroe Wayne County Line Road,
        Macedon, NY 14502</a><br><br>
        </p>
    </div>
    <div class="col-md-5">
        <p><strong>Payment Address</strong><br></p>
        <p>
        Please mail checks to<br>
        <div style="padding-left: 25px;">
            Hema Ganesan<br>
            Treasurer, HHSC<br>
            8 Tenbury Way<br>
            Fairport, NY 14450<br>
        </div>
        <br>
        <i>Note: Checks must be made out to HHSC or Hindu Heritage Summer Camp Inc. and include the Camper Name and Session #</i><br><br>

        <i>Note: Do not mail using USPS Certified Mail, UPS, Fed Ex, Signature Confirmation, or Overnight Mail. Send payment by First Class mail only.</i>
        </p>
        <br>
        <p>Letters to your camper should be mailed to:</p>
        <p><strong>Mailing Address</strong><br></p>
        <p>
        Please mail letters to<br>
        <div style="padding-left: 25px;">
            Hindu Heritage Summer Camp, Inc.<br>
            Camper Name<br>
            2171 Monroe Wayne County Line Road<br>
            Macedon NY 14502-9001<br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">

        <p><strong>Contacting the Camper During Camp Sessions</strong><br><br>
        Our Phone Policy allows all campers to call home during the camp session. We will provide camp cell phones for campers to use. Our Phone Policy does not allow incoming calls from parents. Campers are provided time to call their parents or guardians every third day. Counselors will create a schedule so all the campers will be allowed to call their parents or guardians during the camp session. If there is an emergency or we are concerned about the youth’s well-being, we will contact you immediately. If there is an
        emergency at home and you must contact your child, please call Dr. Kamath (HHSC President) at 585-749-0512.
        </p>
    </div>
</div>

{% endblock %}
