{% extends "base_templates/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p><strong>About the Counselor Position</strong><br></p>
        <p>Counselors (ages 16-21) are the backbone of the entire Camp. Counselors manage and lead campers to ensure the campers are comfortable, cared for, and happy. Counselors assist with and teach many of the classes and activities during camp (such as chanting, philosophy, and clubs). Counselors are chosen on the basis of maturity, responsibility, and ability to function well in leadership roles. If you have any questions, please contact Aanand Parthasarathi at aanandp@gmail.com.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p><strong>Criteria and Requirements</strong><br></p>
        Counselors are selected based on the following criteria: 
        <li>Counselor application essays and experience</li>
        <li>Past performance as a camper or counselor (including any KYS experience)</li>
        <li>Number of years attended as a camper and/or counselor</li>
        <li>Age (prefer a mix of 16, 17 and 18+ year old counselors)</li>
        <li>Special talents or skills. E.g. Knowledge of Hinduism, Dancing, Singing, etc.</li>
        <li>Flexibility to attend either session</li>
        <br>
        Counselor Requirements
        <li>Must be at least 16 years old when the camp starts</li>
        <li>Must attend the Counselor Training Week, entire camp session, and the day after camp</li>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="bg-og">
                        <th>Session</th>
                        <th>Head Counselor Training Starts</th>
                        <th>Counselor Training Starts</th>
                        <th>Camp Dates</th>
                        <th>Counselors Depart</th>
                    </tr>
                </thead>                
                <tr>
                    <td class="infolabel">1st Session</td>
                    <td>Sat, June 25</td>
                    <td>Sun, June 26</td>
                    <td>Sun, July 3 – Sat, July 16</td>
                    <td>Sun, July 17</td>
                </tr>
                <tr>
                    <td class="infolabel">2nd Session</td>
                    <td>Fri, July 8</td>
                    <td>Sun, July 10</td>
                    <td>Sun, July 17 – Sat, July 30</td>
                    <td>Sun, July 31</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p><strong>Counselor Application</strong><br></p>
        The counselor application is not considered complete until the following items are received:
        <li>Online Counselor Application</li>
        <li>Professional Photo (File Name: Last Name_First Name_Session#) </li>
        <li>Medical Form (The Medical Form can be filled by the parent or guardian – a pediatrician is not required)</li>
        <li>Recommendation Letter (Required for first year applicants only. This is a recommendation letter from someone other than your family who can speak to your maturity, responsibility and leadership skills)</li>
        <br>
        <div class="text-center">
            <div style="border-right: 1px solid black;" class="col-md-6">
                <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfPLS4PDSQ_jpefaarLg_K_U86Xhs72EDDgetqgtElIF0JZYA/viewform"><strong>First Session Application</strong></a></p>
            </div>
            <div class="col-md-6">
                <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfCUN7sLcBxBacphVRHvn_wIzajjvs33NLgN6eqnrBSFexsog/viewform"><strong>Second Session Application</strong></a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
