{% extends "base_templates/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p><strong>About the Counselor Position</strong><br></p>
        <p>Counselors (ages 16-21) are the backbone of the entire Camp. Counselors manage and lead campers to ensure the campers are comfortable, cared for, and happy. Counselors assist with and teach many of the classes and activities during camp (such as chanting, philosophy, and clubs). Counselors are chosen on the basis of maturity, responsibility, and ability to function well in leadership roles. If you have any questions, please contact Aanand Parthasarathi at aanandp@gmail.com.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p><strong>Criteria and Requirements</strong><br></p>
        Counselors are selected based on the following criteria: 
        <li>Counselor application essays and experience</li>
        <li>Past performance as a camper or counselor (including any KYS experience)</li>
        <li>Number of years attended as a camper and/or counselor</li>
        <li>Age (prefer a mix of 16, 17 and 18+ year old counselors)</li>
        <li>Special talents or skills. E.g. Knowledge of Hinduism, Dancing, Singing, etc.</li>
        <li>Flexibility to attend either session</li>
        <br>
        Counselor Requirements
        <li>Must be at least 16 years old when the camp starts</li>
        <li>Must attend the Counselor Training Week, entire camp session, and the day after camp</li>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="bg-og">
                        <th>Session</th>
                        <th>Head Counselor Training Starts</th>
                        <th>Counselor Training Starts</th>
                        <th>Camp Dates</th>
                        <th>Counselors Depart</th>
                    </tr>
                </thead>                
                <tr>
                    <td class="infolabel">1st Session</td>
                    <td>Sat, June 24</td>
                    <td>Sun, June 25</td>
                    <td>Sun, July 2 – Sat, July 15</td>
                    <td>Sun, July 16</td>
                </tr>
                <tr>
                    <td class="infolabel">2nd Session</td>
                    <td>Fri, July 7</td>
                    <td>Sun, July 9</td>
                    <td>Sun, July 16 – Sat, July 29</td>
                    <td>Sun, July 30</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p><strong>Counselor Application</strong><br></p>
        The counselor application is not considered complete until the following items are received:
        <li>Online Counselor Application</li>
        <li>Professional Photo</li>
        <li><a href="https://goo.gl/forms/qWOdter1bHW3gK7q2">Medical Form</a> (The Medical Form can be filled by the parent or guardian – a pediatrician is not required)</li>
        <li>Recommendation Letter (Required for first year applicants only. This is a recommendation letter from someone other than your family who can speak to your maturity, responsibility and leadership skills)</li>
        <br>
        <p>Please email the Professional Photo and Recommendation Letter to hhsc.counselorapplication@gmail.com with the following Subject: Session #: Last Name, First Name</p>
        <br>
        <div class="text-center">
            <div style="border-right: 1px solid black;" class="col-md-6">
                <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfPLS4PDSQ_jpefaarLg_K_U86Xhs72EDDgetqgtElIF0JZYA/viewform"><strong>First Session Application</strong></a></p>
            </div>
            <div class="col-md-6">
                <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfCUN7sLcBxBacphVRHvn_wIzajjvs33NLgN6eqnrBSFexsog/viewform"><strong>Second Session Application</strong></a></p>
            </div>
        </div>
        <p>The two essay responses are graded based on creativity, engagement, grammar/punctuation, clear and concise language, clarity, and answering the question. It is advised that these are prepared in Microsoft Word and copy and pasted into the application.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="bg-og">
                        <th width="20%">Application Type</th>
                        <th>Prompt 1</th>
                        <th>Prompt 2</th>
                    </tr>
                </thead>                
                <tr>
                    <th>First Year Counselor (Never Attended Camp)</th>
                    <td>Please describe what exposure you have had to Indian culture and/or the Hindu religion (e.g. Hindu philosophy, sloka recitation, puja, bhajans, etc.) (1200 characters)</td>
                    <td>Please describe your skills and abilities that will help you as a role model and counselor for such a diverse group of kids between the ages of 8 to 16 years. Please describe any past experience you have had in directing small group discussions, peer counseling, teaching, or camp counseling. Briefly discuss your personal as well as spiritual objectives in attending camp. (1600 characters)</td>
                </tr>
                <tr>
                    <th>First Year Counselor (Attended as a Camper)</th>
                    <td>Briefly describe what you would add or change to camp this summer. Please provide concrete examples and details. (1600 characters)</td>
                    <td>Briefly describe what your experience as a camper at HHSC has meant to you. As a counselor, what skills, and abilities will you bring to camp? Why do you believe you will make a good counselor and role model? (1600 characters)</td>
                </tr>
                <tr>
                    <th>Returning Counselor</th>
                    <td>Briefly describe what you would add or change to camp this summer. Please provide concrete examples and details. (1600 characters)</td>
                    <td>Briefly describe your last experience as a counselor at HHSC. Discuss where you felt you performed well and where/how you would like to improve. Please provide concrete examples of how you previously excelled as a counselor and how you wish to improve. (1600 character)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}
