{% extends "base_templates/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% block content %}
    {% include 'flash_messages.html' %}
    <div class= "container">
        <div class="row">
            <h1> Welcome to your Dashboard</h1>
            <div class= "col-md-4">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{ current_user.parents.g1fn }} {{ current_user.parents.g1ln }}</dd>
                    <dt>Email</dt>
                    <dd>{{ current_user.email}}</dd>
                    <dt>Phone</dt>
                    <dd>{{ current_user.parents.g1phone }}</dd>
                </dl>
                <a class='btn' href="{{ url_for('edit_parent_profile', parents_id=current_user.parents.id) }}"> Edit Parent Profile</a>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{ current_user.parents.g2fn }} {{ current_user.parents.g2ln }}</dd>
                    <dt>Email</dt>
                    <dd>{{ current_user.parents.g2email}}</dd>
                    <dt>Phone</dt>
                    <dd>{{ current_user.parents.g2phone }}</dd>
                </dl>
            </div>
            
            <div class="clearfix"></div>
            <div class="col-md-6"><a class='center-block btn' href="{{url_for('add_camper')}}">Add Camper</a></div>
        </div>
        <div class="row">
            <h2>Register Campers</h2>
            {% if campers|length == 0 %}
                <p>Please Add a Camper to register them</p>
            {% else %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Session</th>
                                <th>Application</th>
                                <th>Medical Form</th>
                                <th>Fee Received</th>
                                <th>Decision</th>
                                <th>Register Camper</th>
                                <th>Complete Medical Form</th>
                            </tr>
                        </thead>
                        {% for camper in campers %}
                        <tr>
                            <td><a class="btn" href="{{ url_for('edit_camper', camper_id=camper.id) }}">Edit Camper</a></td>
                            <td>{{camper.fn}} {{camper.ln}}</td>
                            <td>{{camper.age}}</td>
                            <td>{{sess[camper]}}</td>
                            {% if regs[camper] == None %}
                                <td>Incomplete</td>
                            {% else %}
                                <td>{{regs[camper].sub_time}}</td>
                            {% endif %}
                            
                            {% if med[camper] == None %}
                                <td>Incomplete</td>
                            {% else %}
                                <td>{{med[camper].sub_time}}</td>
                            {% endif %}

                            {% if camper.payment_received %}
                            <td>Received</td>
                            {% else %}
                            <td>Not Received</td>
                            {% endif %}

                            {% if camper.accept == 1 %}
                            <td>Accepted</td>
                            {% elif camper.accept == -1 %}
                            <td>Rejected</td>
                            {% else %}
                            <td>Decision Pending</td>
                            {% endif %}
                            <td><a class="btn" href="{{ url_for('register_camper', camper_id=camper.id) }}">Register</a></td>
                            <td><a class="btn" href="{{ url_for('medical_form', camper_id=camper.id) }}">Fill Out</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}