{% extends "base_templates/base.html" %}
{% block content %}
<h2 style="font-size: 24px">Meet This Year's Directors</h2>
<div class="row">
    <div class="col-md-6">
        <h2>Session 1 Staff</h2>
    </div>

    <div class="col-md-6">
        <h2>Session 2 Staff</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-4">
            <h3>Director | Gazal Kathuria</h3>
            <img src="{{ url_for('static', filename = 'images/GazalEdit.png') }}" width="100%">
        </div>
        <div class="col-md-8">
            <p>Gazal has been coming to camp since 2010. She's gone from camper to KYS member to counselor to head counselor. Last year she was fortunate enough to be Assistant Director and this year she feels blessed to be Director. Gazal is from Long Island, New York. She is a sophomore studying Management and International Business at the Kelley School of Business at Indiana University. Camp holds a huge place in Gazal's heart and has made her who she is today. She looks forward to working closely with the board and counselors and campers to make sure everyone has the best year at camp yet!
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <h3>Director | Sandeep Chakravarthy</h3>
            <img src="{{ url_for('static', filename = 'images/GazalEdit.png') }}" width="100%">
        </div>
        <div class="col-md-8">
            <p>Gazal has been coming to camp since 2010. She's gone from camper to KYS member to counselor to head counselor. Last year she was fortunate enough to be Assistant Director and this year she feels blessed to be Director. Gazal is from Long Island, New York. She is a sophomore studying Management and International Business at the Kelley School of Business at Indiana University. Camp holds a huge place in Gazal's heart and has made her who she is today. She looks forward to working closely with the board and counselors and campers to make sure everyone has the best year at camp yet!
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-4">
            <h3>Assistant Director | Vinay Simlot</h3>
            <img src="{{ url_for('static', filename = 'images/VinayEdit.jpg') }}" width="100%">
        </div>
        <div class="col-md-8">
            <p>Vinay has been coming to camp since 2007, spending time as a camper, counselor, head counselor, and most recently, Staff Coordinator. Vinay is from Sterling, Virginia, and is a freshman at the University of Colorado-Boulder, studying Aerospace Engineering. Over the past ten years, camp has become the place where Vinay can learn about his religion, while meeting people he will never forget. Vinay feels blessed to return as the Assistant Director, and has made it his personal mission to ensure every camper has the time of their life!
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <h3>Director | Sandeep Chakravarthy</h3>
            <img src="{{ url_for('static', filename = 'images/GazalEdit.png') }}" width="100%">
        </div>
        <div class="col-md-8">
            <p>Gazal has been coming to camp since 2010. She's gone from camper to KYS member to counselor to head counselor. Last year she was fortunate enough to be Assistant Director and this year she feels blessed to be Director. Gazal is from Long Island, New York. She is a sophomore studying Management and International Business at the Kelley School of Business at Indiana University. Camp holds a huge place in Gazal's heart and has made her who she is today. She looks forward to working closely with the board and counselors and campers to make sure everyone has the best year at camp yet!
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-4">
            <h3>Assistant Director | Nidhi Dontula</h3>
            <img src="{{ url_for('static', filename = 'images/NidhiEdit.png') }}" width="100%">
        </div>
        <div class="col-md-8">
            <p>Nidhi has been coming to camp since 2007, spending seven years as a camper, two years as a counselor, one year as a head counselor, and is now very excited to be an assistant director. Nidhi is from Rochester, New York and is currently a freshman at Cornell University's School of Industrial & Labor Relations. Camp has had a profound impact on Nidhi through her lifelong friendships and experiences. Camp has allowed her to take on new responsibilities, learn about her heritage, and grow as an individual. Nidhi is so grateful for the opportunity to return this summer and give back to the place that she calls home. 
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <h3>Director | Sandeep Chakravarthy</h3>
            <img src="{{ url_for('static', filename = 'images/GazalEdit.png') }}" width="100%">
        </div>
        <div class="col-md-8">
            <p>Gazal has been coming to camp since 2010. She's gone from camper to KYS member to counselor to head counselor. Last year she was fortunate enough to be Assistant Director and this year she feels blessed to be Director. Gazal is from Long Island, New York. She is a sophomore studying Management and International Business at the Kelley School of Business at Indiana University. Camp holds a huge place in Gazal's heart and has made her who she is today. She looks forward to working closely with the board and counselors and campers to make sure everyone has the best year at camp yet!
            </p>
        </div>
    </div>
</div>
{% endblock %}