{% extends "base_templates/base.html" %}
{% block content %}
<div class="row">
    <h2 style="padding-bottom:15px">Facilities</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="{{ url_for('static', filename = 'images/CabinEdit.jpg') }}" width="100%">
        <p><strong>Cabin:</strong> There are 6 cabins on the grounds. Campers and Counselors stay in the cabins. Campers and Counselors sleep on bunk beds. There are ventilation fans in the cabins to help with air circulation.
        </p>
    </div>
    <div class="col-md-6">
        <img src="{{ url_for('static', filename = 'images/ICCEdit.jpg') }}" width="100%">
        <p><strong>India Community Center (ICC):</strong> The ICC is an air conditioned building where campers spend much of their day: morning puja, chanting class, philosophy, meals, clubs and some evening programs. It is equipped with 3 classrooms, an infirmary, a large auditorium and a kitchen, where all the meals are prepared by volunteers.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="{{ url_for('static', filename = 'images/BathhouseEdit.jpg') }}" width="100%">
        <p><strong>Bathhouse:</strong> The bathhouse has separate boys and girls bathrooms. The bathhouses have toilet facilities, showers, sinks, and mirrors for the campers and counselors to use.
        </p>
    </div>
    <div class="col-md-6">
        <img src="{{ url_for('static', filename = 'images/CampGrounds.jpg') }}" width="100%">
        <p><strong>Camp Grounds:</strong> The camp grounds include two pavilions and two open fields where campers hang out and participate in sports and games every day.
        </p>
    </div>
</div>
{% endblock %}