{% extends "base_templates/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 style="padding-bottom:15px">Frequently Asked Questions</h2>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Camper Schedule</th>
                    <td>
                        <li>What does a typical camp day look like? </li>
                    </td>
                </tr>
                <tr>
                    <th>Packing / Travel</th>
                    <td>
                        <li>What will my child be sleeping on?</li>
                        <li>What should my child pack for camp?</li>
                        <li>When should we arrive to drop off our child? When should we come to pick them up?</li>
                        <li>If my child is flying or taking a train/bus, will HHSC handle transportation to and from the camp facility?</li>
                     </td>
                </tr>
                <tr>
                    <th>Dietary / Medical / Safety Concerns</th>
                    <td>
                        <li>Can a child with dietary allergies or restrictions attend camp?</li>
                        <li>What happens if a medical emergency arises for my child during camp?</li>
                        <li>How do I know my child will be in good hands during camp?</li>
                     </td>
                </tr>
                <tr>
                    <th>Contact with My Camper</th>
                    <td>
                        <li>As a local parent, can I visit my child during camp?</li>
                        <li>Will I be able to call my child during camp?</li>
                        <li>What is the best way to keep in touch with my child during camp?</li>
                        <li>If there is a family emergency, how do I get my camper out of camp?</li>
                        <li>Can I send my child a care package?</li>
                     </td>
                </tr>
                <tr>
                    <th>Other</th>
                    <td>
                        <li>Will someone do my child’s laundry? Or can I come and pick-up my child’s laundry?</li>
                        <li>My child is between the ages of 13-15. Is this camp good for older campers?</li>
                        <li>My child’s birthday occurs during camp. Can we send something for him/her or do something special?</li>
                        <li>What if my child has another program, occasion, or travel plans that conflicts with part of camp? Can we take him / her out for that period, come to camp late, or leave camp early?</li>
                     </td>
                </tr>                
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>What does a typical camp day look like?</h3>
        <p>Please <a href="{{ url_for('static', filename='pdf/TypicalCampDay.pdf') }}">see attached</a> for what a typical camp day looks like. It is quite busy! The Camp Schedule for 2017 will be posted online in June. Please note that the schedule may change.</p>
        <br>
        <h3>What should my child pack for camp?</h3>
        <p>Please <a href="{{ url_for('static', filename='pdf/HHSCPackingList.pdf') }}">click here</a> to view the camp packing list. 
        </p>
        <br>
        <h3>What will my child be sleeping on?</h3>
        <p>Campers will be sleeping on bunk beds in their cabins. The bunk beds have twin mattresses on them. Please pack twin bed sheets, a sleeping bag, a light blanket, and pillow for your child.</p>
        <br>
        <h3>When should we arrive to drop off our child? When should we come to pick them up?</h3>
        <p>Please see table on camp <a href="{{ url_for('information') }}">information page </a>
        <br>
        If your child is flying to camp please book the reservations so your child arrives between 9am to 4pm into Rochester (ROC) airport. When booking the return flight please book the departure flight between 11am and 4pm. If your child is travelling by Greyhound Bus or Amtrak, please make sure your child arrives between 9am-4pm and return tickets are booked between 11am-4pm.
        </p>
        <br>
        <h3>If my child is flying or taking a train/bus, will HHSC handle transportation to and from the camp facility?</h3>
        <p>Yes we do provide transportation between the camp grounds and the airport/bus station/train station for a $25 fee each way. Please send a check in advance to pay for camper pick up and drop off. Please note you are responsible for informing camp that your child needs transportation. You will receive an email with a survey link where the information can be provided.</p>
        <br>
        <h3>Can a child with dietary allergies or restrictions attend camp?</h3>
        <p>Yes, we have had campers with all sorts of dietary restrictions – vegan, nut allergies, no eggs, etc.<br>
        All meals are vegetarian. We do not use or serve any food with nuts due to the number of campers with nut allergies. Regardless, <i>please inform us of all dietary restrictions when registering your child!</i><br><br>
        Please do not send any food with your child. Food in the cabins leads to bug infestations and counselors are instructed to confiscate any food from the campers. If there is a medical reason then please explain in the medical form and our medical staff will attend to the matter.
        </p>
        <br>
        <h3>What happens if a medical emergency arises for my child during camp?</h3>
        <p>There is a licensed physician on the camp grounds 24/7. Please make sure your child’s medical form (in the registration) is up-to-date or you risk your child’s safety.<br>
        All counselors are trained in First Aid and will alert the physician in the case of an emergency. The physician will determine if the camper needs to be taken to the hospital.
        </p>
        <br>
        <h3>How will I know my child will be in good hands during camp?</h3>
        <p>There is a one week Counselor Training Week (CTW) just prior to the camp session. Counselors are trained on teaching bhajans, pujas, clubs, and other camp activities, but also training on handling various camper situations including homesickness, shyness, disputes, etc. Each counselor is assigned 3-5 campers in their cabin for whom they are made aware of any breakfast, lunch, dinner or evening medications to make sure the camper sees the camp doctor during those times.<br>
        During the evenings there is a security guard on the cabin grounds during the camp sleeping hours. The security guard is there to make sure no campers are staying up late, sneaking out at night, and ensure that any campers going to the bathroom in the middle of the night are accompanied by a counselor. <br>
        Refer to the "What happens if a medical emergency arises for my child during camp?" for further details. 
        </p>
        <br>
        <h3>As a local parent, can I visit my child during camp?</h3>
        <p>You may attend and observe any of the evening programs that begin around 7.30 pm and run till 9 pm. <br>
        Otherwise, you are not permitted to join in any other camp activities or go to the cabin grounds as it takes away from the camper experience and causes campers to get distracted.<br>
        </p>
        <br>
        <h3>Will I be able to call my child during camp?</h3>
        <p>Our Phone Policy allows all campers to call home during the camp session. We will provide camp cell phones for campers to use. Our Phone Policy does not allow incoming calls from parents. Campers are provided time to call their parents or guardians every third day. Counselors will create a schedule so all the campers will be allowed to call their parents or guardians during the camp session. If there is an emergency or we are concerned about the youth’s well-being, we will contact you immediately. If there is an emergency at home and you must contact your child, please call Dr. Kamath (HHSC President) at 585-749-0512.
        </p>
        <br>
        <h3>What is the best way to keep in touch with my child during camp?</h3>
        <p>The best way to stay in touch with your child is via written mail. While it is old fashioned, we encourage campers and parents to send written mail. Campers really enjoy receiving mail and counselors and staff enjoy teaching campers how to send mail. <br>
        Since we have a strict NO-PHONE policy, do not receive calls, and, while we provide phones for campers to call you, we cannot make them call you, written mail is the best way to communicate. <br>
        In the case of a family emergency that requires you to get in contact with your child, please contact the camp president, Dr. Kamath, at 585-749-0512 or e-mail him at ckamath1@rochester.rr.com
        </p>
        <br>
        <h3>Can I send my child a care package?</h3>
        <p>Please do not send your child a care package of snacks or treats unless you are sending something for the entire camp. If you want to send food, please make sure there is enough so everyone at camp gets a piece.</p>
        <br>
        <h3>If there is a family emergency, how do I get my camper out of camp?</h3>
        <p>In the case of a family emergency that requires you to get in contact with your child, please contact the camp president, Dr. Kamath, at 585-749-0512 or e-mail him at ckamath1@rochester.rr.com
        </p>
        <br>
        <h3>Will someone do my child’s laundry? Or can I come and pick-up my child’s laundry?</h3>
        <p>Parents are not permitted to do their child’s laundry at camp. Camp has washers and dryers in the bathhouses. Camper and Counselor laundry will be done approximately 1 week into camp. Please make sure to send your camper with enough clothes for 9 days.
        </p>
        <br>
        <h3>My child is between the ages of 13-15. Is this camp good for older campers?</h3>
        <p>Over the years, we have had many campers within the 13-15 age group. The older campers form bonds with their counselors and campers younger than them. They become role models to the younger campers and are treated as older brothers and sisters. Many older campers take on additional responsibility at camp to support their counselors and cabin groups. <br><br>
        In the evenings, the 13-15 year olds engage in group sharing where they discuss topics and issues facing teenagers and Hindu Americans today. 
        <br><br>
        If your child is a returning camper between the ages of 13-15, we encourage him/her to apply for <a href="{{ url_for('kys') }}">Karma Yoga Scholars (KYS) Program</a>.
        </p>
        <br>
        <h3>My child’s birthday occurs during camp. Can we send something for him/her or do something special?</h3>
        <p>Yes, we will send an email to parents of all campers with birthdays during camp. We ask that you make a donation to pay for cake for the entire camp. Cake becomes the snack for that day and the campers will all sing Happy Birthday to your child. </p>
        <br>
        <h3>
        What if my child has another program, occasion, or travel plans that conflicts with part of camp? Can we take him / her out for that period, come to camp late, or leave camp early?</h3>
        <p>
        We strongly discourage this. Campers bond very closely with their
        fellow campers and counselors and missing camp events really takes away from this. This causes inconveniences to the counselors and staff running the camp who are keeping track of every camper, create and plan activities based on the total camper count, etc. They have to make accommodations for campers arriving late, leaving early or missing parts of camp, which takes time away from the other campers. 
        <br><br>
        We request that if there is a conflict and your child cannot fully attend either session then please apply next year.
        </p>
        <br>
        <h3>What is the camp withdrawal policy?</h3>
        <p>
        The camp withdrawal policy is explained on the <a href="{{ url_for('fees') }}">Camp Fees</a> page
        </p>
    </div>
</div>

{% endblock %}