{% extends "base_templates/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 style="padding-bottom:15px">Camp Fees</h2>
        <div class="table-responsive">
            <table class="table table-striped">            
                <tr>
                    <th witdh="35%">Camp Fee</th>
                    <td>$1000.00<br>
                    Fees include all activity costs including lodging, meals, and qualified supervision.
                    </td>
                </tr>
                <tr>
                    <th>Sibling Discount</th>
                    <td>$50 Discount<br>
                    <li>The sibling discount is applicable for 2nd child and additional campers from the same family.</li>

                       <li>The first child must pay the full camp fee.</li>

                       <li>The second child receives $50.00 off the full camp fee.</li>

                       <li>The third child receives $50.00 off the full camp fee.</li>
                   </td>
                </tr>
                <tr>
                    <th>Payment Method</th>
                    <td>
                        <li>Hindu Heritage Summer Camp ONLY accepts checks. No Credit card payment is
                        available.</li>
                        <li>We prefer payment in US currency. However, if payment is made in a foreign currency like Canadian, in addition to the fees, please add $30 per check to cover the bank fees</li>
                        <li>Checks must be made out to HHSC or Hindu Heritage Summer Camp Inc. and include the Camper Name and Session #</li>
                        <li>Please mail checks to</li>
                        <div class="text-center" >
                            Hema Ganesan<br>
                            Treasurer, HHSC<br>
                            8 Tenbury Way<br>
                            Fairport, NY 14450</li>
                        </div>
                        <br>
                        <p><strong>Do not mail using USPS Certified Mail, UPS, Fed Ex, Signature Confirmation, or Overnight Mail. Send payment by First Class mail only.</strong></p>
                    </td>
                </tr>
                <tr>
                    <th>Transportation To</th>
                    <td>
                        $25<br>
                        <p>HHSC can provide transportation from the airport/bus station/train station to the camp grounds. Please send the travel fees with the camp fee. All travel information must be provided to HHSC at least 2 weeks before camp.</p>
                    </td>
                </tr>
                <tr>
                    <th>Transportation From</th>
                    <td>
                        $25<br>
                        <p>
                        HHSC can provide transportation from the camp grounds to the airport/bus station/train station. Please send the travel fees with the camp fee. All travel information must be provided to HHSC at least 2 weeks before camp. 
                        </p>
                    </td>
                </tr>

            </table>
        </div>
        <p class="fc-blue text-center"><p class="text-center"><strong>Registration is not complete until the camp fees are received and medical forms are submitted. Admission will be on a first come first serve basis depending on the camp capacity. We will confirm acceptance of your camper by email.</strong></p>
    </div>
</div>
{% endblock %}