{% extends "base_templates/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped">            
                <tr>
                    <td class="infolabel">Camp Fee</td>
                    <td>$1000.00<br>
                    Fees include all activity costs including camp outings, lodging, meals, qualified supervision, Puja book, and complimentary camp T-shirt
                    </td>
                </tr>
                <tr>
                    <td class="infolabel">Sibling Discount</td>
                    <td>$50 Discount<br>
                    Applicable to 2nd and additional campers from the same family</td>
                </tr>
                <tr>
                    <td class="infolabel">Payment Method</td>
                    <td>
                        <li>We currently do NOT accept credit cards. Please pay using check.</li>
                        <li>Checks must be made out to HHSC or Hindu Heritage Summer Camp Inc. and include the Camper Name and Session #</li>
                        <li>Please mail checks to</li>
                        <div class="text-center" >
                            Hema Ganesan<br>
                            Treasurer, HHSC<br>
                            8 Tenbury Way<br>
                            Fairport, NY 14450</li>
                        </div>
                        <br>
                        <p><strong>Do not mail using USPS Certified Mail, UPS, Fed Ex, Signature Confirmation, or Overnight Mail. Send payment by First Class mail only.</strong></p>
                    </td>
                </tr>
                <tr>
                    <td class="infolabel">Transportation from airport / bus station / train station</td>
                    <td>
                        $25<br>
                        <p>This may be paid as part of the original camp fee or can be paid later once travel plans have been determined. You can send the payment with your child when he/she travels but please inform us of all travel plans at least 2 weeks before camp so we can be sure to have someone there to pick your child up. </p>
                    </td>
                </tr>
                <tr>
                    <td class="infolabel">Transportation to airport / bus station / train station</td>
                    <td>
                        $25<br>
                        <p>
                        This may be paid as part of the original camp fee or can be paid later once travel plans have been determined. You can send the payment with your child when he/she travels but please inform us of all travel plans at least 2 weeks before camp so we can be sure to have someone there to pick your child up. 
                        </p>
                    </td>
                </tr>

            </table>
        </div>
        <h2 class="text-center">REGISTRATION IS NOT COMPLETE UNTIL THE FEES ARE PAID!</h2>
    </div>
</div>
{% endblock %}