{% extends "base_templates/base.html" %}
{% block content %}
    {% include 'flash_messages.html' %}
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>Hindu children are the inheritors of one of the world’s greatest cultural, religious, and spiritual traditions. However, Hindu children growing up in Western societies are often not aware of this great inheritance. The purpose of Hindu Heritage Summer Camp, Inc., is to provide an opportunity for Hindu youth, ages 8 to 16, to explore and understand the diverse traditions and philosophies of Hinduism in an intellectual, nurturing, and fun-filled environment. HHSC is dedicated to helping Hindu youth discover and reconcile what it means to be Hindu American.
            </p>
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename = 'images/devi.jpg') }}" width="100%">
        </div>
        <div class="col-md-offset-1"></div>
    </div>
    <div class="row">
        <div class="home-box col-md-3 col-md-offset-2">
            <h2>HHSC in the News</h2>
            <ul>
                <li><a href="#">India Abroad (May 2006)</a></li>
                <li><a href="#">HHSC - Khabar (July 2005)</a></li>
                <li><a href="#">HHSC - Helping Kids (July 2003)</a></li> 
            </ul>
        </div>
        <div class="home-box col-md-3 col-md-offset-2">
            <h2>Related Links</h2>
            <ul>
                <li><a href="#">OMHHSC BlogSpot</a></li>
                <li><a href="#">Sadhu Vasvani Summer Camp</a></li>
            </ul>
        </div>
    <div>

{% endblock %}