{% extends "base_templates/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 style="padding-bottom:15px">Camp Information</h2>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td class="infolabel">Camper Age</td>
                    <td>Must be between 8 – 16 years old at the start of camp</td>
                </tr>
                <tr>
                    <td class="infolabel">Dates and Duration</td>
                    <td>There are two camp sessions that are each two weeks long. Please see below for specifics and the event schedule that we encourage parents to attend on the first and last day of camp. </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="bg-og">
                        <th class='fc-light' width="9%">Session</th>
                        <th class='fc-light'>First Day</th>
                        <th class='fc-light'>Last Day</th>
                    </tr>
                </thead>                
                <tr>
                    <td class="infolabel">Session 1</td>
                    <td>Sunday: July 2, 2017</td>
                    <td>Saturday: July 15, 2017</td>
                </tr>
                <tr>
                    <td class="infolabel">Session 2</td>
                    <td>Sunday: July 16, 2017</td>
                    <td>Saturday: July 29, 2017</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Note: Campers should arrive to the camp grounds between 10:30 am and 12:30 pm</td>
                    <td>Note: Campers should depart the camp grounds between 8:00 am and 2:00 pm</td>
                </tr>
                <tr class='bg-og-light'>
                    <td class="infolabel">Schedule</td>
                    <td>
                        <div class="col-md-6">
                            Camper Registration<br>
                            Parent Lunch: <br>
                            Parent Orientation: <br>
                            Goodbyes: <br>

                        </div>
                        <div class="col-md-6">
                            10:30 – 12:30 pm <br>
                            12:30 – 1:30 pm <br>
                            1:45  - 2:30 pm <br>
                            2:45 – 3:00 pm <br>
                        </div>
                    </td>
                    <td>
                    <div class="col-md-6">
                        Parent Show: <br>
                        Parent Lunch: <br>
                    </div>
                    <div class="col-md-6">
                        11:00 – 11:30 pm <br>
                        11:30 – 12:30 pm <br>

                    </div>
                    </td>

            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped">            
                <tr>
                    <td class="infolabel">Facility</td>
                    <td>Please <a href="{{ url_for('facilities') }}">click here</a> to view the camp facility
</td>
                </tr>
                <tr>
                    <td class="infolabel">Fees</td>
                    <td>Please <a href="{{ url_for('fees') }}">click here</a> to view the camp fees and cancellation policy
</td>
                </tr>
                <tr>
                    <td class="infolabel">Meals</td>
                    <td>Campers receive 5 meals a day (Breakfast, Lunch, Afternoon Snack, Dinner, and Evening Snack). All meals are vegetarian. We will accommodate any dietary restrictions (i.e. vegan) or food allergies as long as you inform us in the registration. 
                    </td>
                </tr>
                <tr>
                    <td class="infolabel">Medical</td>
                    <td>
                        There is a licensed physician on the camp grounds 24/7. Please make sure your child’s medical form (in the registration) is up-to-date or you risk your child’s safety. 
                    </td>
                </tr>

            </table>
        </div>
        <h2 class="text-center"><a href="{{ url_for('faqs') }}">Click here to see some Frequently Asked Questions (FAQs)</a></h2>
    </div>
</div>
{% endblock %}