{% extends "base_templates/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p><strong>About the Karma Yoga Scholars (KYS) Program</strong></p>
        <br>
        Karma Yoga is one of the four pathways to reach salvation as recognized in the Bhagavad Gita. It is a pathway of selfless service in which one performs service for others without expecting anything in return. Through engaging in practical and theoretical study of karma yoga, KYS participants grow to appreciate the value of selfless service: 
        <br><br>
        <li>Education: Learning, discussing, and debating the philosophy behind Karma Yoga</li>
        <li>Service: Engaging in selfless service (to the camp), such as washing dishes, setting up dishes for meals, cleaning and maintaining the India Community Center</li>
        <li>Leadership: Planning and executing some camp events such as brother-sister day, twin day, and the dance party</li><br>
        Some groups have even volunteered in the greater Rochester community to help at the American Red Cross, The Ronald McDonald House, CP Rochester or Foodlink to name a few.
        <br>
        <br>
        <p>Please <a href="http://www.youtube.com/watch?v=6hYTb6om2vU">click here</a> to view a short video produced by the 2012 Session 2 KYS group on what KYS means to them.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
        <strong>Karma Yoga Scholars (KYS) Application</strong>
        <br><br>
        This program is only open to a handful of returning campers between the ages of 13-15 who have demonstrated responsibility, maturity, and compassion.
        <br><br>
        <strong>Deadline: June 15</strong>
        <br><br>
        To apply to this program, please fill this <a href="{{ url_for('static', filename='pdf/KYS_Application.pdf') }}">form</a> and please send your application by email to:
        <br><br>
        <strong>Session 1:</strong><br>
        Vinay Chandra<br>
        KYS Director<br>
        vsimlot3@gmail.com
        <br><br>
        <strong>Session 2:</strong><br>
        Reema Kumar<br>
        KYS Director<br>
        rk593@cornell.edu 
        </p>
    </div>
</div>
{% endblock %}
