{% extends "base_templates/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p><strong>About the Karma Yoga Scholars (KYS) Program</strong></p>
        <br>
        <p>The Karma Yoga Scholars (KYS) Program is open to returning campers ages 13-15 who wish to deepen their understanding of Karma Yoga or selfless service by serving camp. Each day KYS students spend time learning, discussing, and debating the philosophy behind Karma Yoga in a classroom setting. They then spend part of the day engaging in selfless service (to the camp). Examples of such service include washing dishes, setting up dishes for meals, and cleaning the Indian Community Center so that campers are living in a healthy environment. Additionally, KYS campers plan certain camp events such as brother-sister day, zodiac dinner, the dance party, etc. Some groups may take up a KYS service project at the camp or in the Rochester community.</p>
        <br>
        <p>Note that only a select number of campers will be chosen to serve in the KYS program. It is an honors program for which applicants must secure one reference who will attest to personal attributes like responsibility, leadership and dedication.</p>
        <br>
        <p>Please click here to view a short video produced by the 2012 Session 2 KYS group on what KYS means to them.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
        <strong>Karma Yoga Scholars (KYS) Application</strong>
        <br><br>
        KYS is open to returning campers between the ages of 13-15. The KYS application deadline is June 15th. 
        <br><br>
        To apply to this program, please fill this form and send to the following address:
        <br><br>
        Please send your application by email to:<br><br>
        Session 1:<br><br>
        Gazal Kathuria<br><br>
        KYS Director<br><br>
        Gazal.Kathuria@yahoo.com 
        <br><br>
        Session 2:<br>
        Sandeep Chakravarthy<br>
        KYS Director<br>
        sandeepchakravarthy1@gmail.com 
        </p>
    </div>
</div>
{% endblock %}
