{% extends "base_templates/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    {% include 'flash_messages.html' %}
    <div class= "container">
        <div class="row">
            <div class= "col-md-offset-2 col-md-8">
                {% if edit == 'True' %}
                <form method=post action="{{url_for('edit_medical_form', med_id=med_id)}}">
                {% else %}
                <form method=post action="{{url_for('medical_form', camper_id=camper_id)}}">
                {% endif %}
                    {{ mform.hidden_tag() }}
                    <h1> Medical Form </h1>
                    {{ wtf.form_field(mform.allergies) }}
                    <h2>Immunization History</h2>
                    <div class='table-responsive'>
                        <table class='table table-striped'>
                            <thead>
                                <tr>
                                    <th>Test</th>
                                    <th>Date Received</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> {{ mform.dtap.label}}</td>
                                    <td> {{ mform.dtap}}</td>
                                </tr>
                                <tr>
                                    <td> {{ mform.mump.label}}</td>
                                    <td> {{ mform.mump}} </td>
                                </tr>
                                <tr>
                                    <td> {{ mform.polio.label}}</td>
                                    <td> {{ mform.polio }} </td>
                                </tr>
                                <tr>
                                    <td> {{ mform.ckpox.label }} </td>
                                    <td> {{ mform.ckpox }} </td>
                                </tr>
                                <tr>
                                    <td> {{ mform.meningitis.label }} </td>
                                    <td> {{ mform.meningitis }} </td>
                                </tr>
                                <tr>
                                    <td> {{ mform.hib.label }} </td>
                                    <td> {{ mform.hib }} </td>
                                </tr>
                                <tr>
                                    <td> {{ mform.pcv.label }} </td>
                                    <td> {{ mform.pcv }} </td>
                                </tr>
                                <tr>
                                    <td> {{ mform.tb.label }} </td>
                                    <td> {{ mform.tb }} </td>
                                    <td> {{ mform.tbtest }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h2>Health History</h2>
                    {{ mform.hosp.label }} {{ mform.hosp }}
                    {{ mform.surg.label }} {{ mform.surg }}
                    {{ mform.chro.label }} {{ mform.chro }}
                    {{ mform.bedw.label }} {{ mform.bedw }}
                    {{ mform.recinj.label }} {{ mform.recinj }}
                    {{ mform.asth.label }} {{ mform.asth }}
                    {{ mform.diab.label }} {{ mform.diab }}
                    {{ mform.envallg.label }} {{ mform.envallg }}
                    {{ mform.seiz.label }} {{ mform.seiz }}
                    {{ mform.dizz.label }} {{ mform.dizz }}
                    {{ mform.chestpain.label }} {{ mform.chestpain }}
                    {{ mform.add.label }} {{ mform.add }}
                    {{ mform.emodisorder.label }} {{ mform.emodisorder }}
                    {{ mform.seenprof.label }} {{ mform.seenprof }}
                    {{ mform.other.label }} {{ mform.other }}
                    {{ wtf.form_field(mform.explain) }}
                    {{ mform.swim.label }} {{ mform.swim }}
                    <h2>Insurance Details</h2>
                    {{ mform.insu.label}}
                    {{ mform.insu }}
                    <div class='table-responsive'>
                        <table class='table table-striped'>
                            <tbody>
                                <tr>
                                    <td>{{ mform.insucomp.label }}</td>
                                    <td>{{ mform.insucomp }}</td>
                                </tr>
                                <tr>
                                    <td>{{ mform.insupoli.label }}</td>
                                    <td>{{ mform.insupoli }}</td>
                                </tr>
                                <tr>
                                    <td>{{ mform.insusubs.label }}</td>
                                    <td>{{ mform.insusubs }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{ wtf.form_field(mform.sign) }}
                    {{ wtf.form_field(mform.parent) }}
                    {{ wtf.form_field(mform.submit) }}
                </form>
                <hr>
            </div>

        </div>
    </div>
{% endblock %}