{% extends "base_templates/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class= "container">
        <div class="row">
            <div class= "col-md-offset-2 col-md-8">
                {% if edit == 'True' %}
                <form method=post action="{{url_for('edit_medical_form', med_id=med_id)}}">
                {% else %}
                <form method=post action="{{url_for('medical_form', camper_id=camper_id)}}">
                {% endif %}
                    {{ mform.hidden_tag() }}
                    <h1> Medical Form </h1>
                    {{ wtf.form_field(mform.allergies) }}
                    <h2>Immunization History</h2>
                    <div class='table-responsive'>
                        <table class='table table-striped'>
                            <thead>
                                <tr>
                                    <th>Test</th>
                                    <th>Date Received</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {{render_table_field(mform.dtap)}}
                                </tr>
                                <tr>
                                    {{render_table_field(mform.mump)}}
                                </tr>
                                <tr>
                                    {{render_table_field(mform.polio)}}
                                </tr>
                                <tr>
                                    {{render_table_field(mform.ckpox)}}
                                </tr>
                                <tr>
                                    {{render_table_field(mform.meningitis)}}
                                </tr>
                                <tr>
                                    {{render_table_field(mform.hib)}}
                                </tr>
                                <tr>
                                    {{render_table_field(mform.pcv)}}
                                </tr>
                                <tr>
                                    {{render_table_field(mform.tb)}}
                                    <td> {{ mform.tbtest() }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h2>Health History</h2>
                    <div class='table-responsive'>
                        <table class='table table-striped'>
                            <thead>
                                <tr>
                                    <th>General History</th>
                                    <th>Yes</th>
                                    <th>No</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>{{render_radio_field(mform.hosp)}}</tr>
                            <tr>{{render_radio_field(mform.surg)}}</tr>
                            <tr>{{render_radio_field(mform.chro)}}</tr>
                            <tr>{{render_radio_field(mform.bedw)}}</tr>
                            <tr>{{render_radio_field(mform.recinj)}}</tr>
                            <tr>{{render_radio_field(mform.asth)}}</tr>
                            <tr>{{render_radio_field(mform.diab)}}</tr>
                            <tr>{{render_radio_field(mform.envallg)}}</tr>
                            <tr>{{render_radio_field(mform.seiz)}}</tr>
                            <tr>{{render_radio_field(mform.dizz)}}</tr>
                            <tr>{{render_radio_field(mform.chestpain)}}</tr>
                            </tbody>
                        </table>
                        {{ render_field(mform.explain, class="form-control")}}
                    </div>
                    <div class='table-responsive'>
                        <table class='table table-striped'>
                            <thead>
                                <tr>
                                    <th>Mental, Emotional and Social Health History</th>
                                    <th>Yes</th>
                                    <th>No</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>{{render_radio_field(mform.add)}}</tr>
                            <tr>{{render_radio_field(mform.emodisorder)}}</tr>
                            <tr>{{render_radio_field(mform.seenprof)}}</tr>
                            <tr>{{render_radio_field(mform.other)}}</tr>
                            </tbody>
                        </table>
                        {{ render_field(mform.explain, class="form-control")}}
                    </div>
                    {{render_field(mform.swim)}}
                    <h2>Insurance Details</h2>
                    {{ render_field(mform.insu) }}
                    <div class='table-responsive'>
                        <table class='table table-striped'>
                            <tbody>
                                <tr>
                                    <td>{{ mform.insucomp.label }}</td>
                                    <td>{{ mform.insucomp }}</td>
                                </tr>
                                <tr>
                                    <td>{{ mform.insupoli.label }}</td>
                                    <td>{{ mform.insupoli }}</td>
                                </tr>
                                <tr>
                                    <td>{{ mform.insusubs.label }}</td>
                                    <td>{{ mform.insusubs }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{ wtf.form_field(mform.sign) }}
                    {{ render_field(mform.parent, class="form-control") }}
                    {{ wtf.form_field(mform.submit) }}
                </form>
                <hr>
            </div>

        </div>
    </div>
{% endblock %}