{% extends "base_templates/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class= "container">
        <div class="row">
            <div class= "col-md-offset-4 col-md-6">
                <h2> Parent/Guardian Profile</h2>
                    <span><strong>Primary Email (for Guardian 1): </strong></span>{{current_user.email}}<br>
                    <p><i>Note: All communications will be done with this email address</i></p><br>
                {% if edit == 'True' %}
                    <form method=post action="{{url_for('edit_parent_profile', parents_id=parents_id)}}">
                {% else %}
                    <form method=post action="{{ url_for('create_parent_profile') }}">
                {% endif %}
                    {{ form.hidden_tag() }}
                    <h3>Primary Parent / Guardian Contact Information</h3>
                    <dl class="dl-horizontal left-indent">
                        {{ render_field(form.g1fn, class='form-control')}}
                        {{ render_field(form.g1ln, class='form-control')}}
                        {{ render_field(form.g1street, class='form-control')}}
                        {{ render_field(form.g1city, class='form-control')}}
                        {{ render_field(form.g1state, class='form-control')}}
                        {{ render_field(form.g1zipcode, class='form-control')}}
                        {{ render_field(form.g1country, class='form-control')}}
                        {{ render_field(form.g1phone, class='form-control')}}
                    </dl>
                    <h3>Second Parent / Guardian or other Emergency Contact Information</h3>
                    <dl class="dl-horizontal left-indent">
                        {{ render_field(form.g2fn, class='form-control')}}
                        {{ render_field(form.g2ln, class='form-control')}}
                        {{ render_field(form.g2street, class='form-control')}}
                        {{ render_field(form.g2city, class='form-control')}}
                        {{ render_field(form.g2state, class='form-control')}}
                        {{ render_field(form.g2zipcode, class='form-control')}}
                        {{ render_field(form.g2country, class='form-control')}}
                        {{ render_field(form.g2phone, class='form-control')}}
                        {{ render_field(form.g2email, class='form-control')}}
                    </dl>
                    <span class="center-block">{{ wtf.form_field(form.submit)}}</span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}