{% extends "base_templates/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    {% include 'flash_messages.html' %}
    <div class= "container">
        <div class="row">
            <div class="col-md-3">
                <h2>Camper Profile</h2>
                <ul>
                    <li>{{camper.fn}} {{camper.ln}}</li>
                    <li>{{camper.dob.strftime('%m/%d/%Y')}}</li>
                </ul>
            </div>
            <div class= "col-md-offset-3 col-md-6">
                <h1> Register Camper </h1>
                {{ wtf.quick_form(form) }}
                <p>The Hindu Heritage Summer Camp employs Pack, Paddle and Ski to conduct our outdoor hiking trip. They require this form filled out for every camper.
    
In consideration of the services of Pack, Paddle, Ski Corp., their agents, owners, volunteers, participants, employees, and all other persons or entities acting in any capacity on their behalf (hereinafter collectively referred to as “PPSC”), I hereby agree to release, indemnify, and discharge PPSC, on behalf of myself, my spouse, my children, my parents, my heirs, assigns, personal representative and estate as follows”
I acknowledge that outdoor adventure based activities such as hiking, sea kayaking, canoeing, rock climbing, teambuilding, backpacking, cross country skiing and snowshoeing entails known and unanticipated risks that could result in physical or emotional injury, paralysis, death, or damage to myself, to property, or to third parties. I understand that such risks simply cannot be eliminated without jeopardizing the essential qualities of the activity.

The risks include, among other things: Slipping and falling; falling objects; water hazards; exhaustion; exposure to temperature and weather extremes which could cause hypothermia, hyperthermia (heat related illnesses), heat exhaustion, sunburn, dehydration; and exposure to potentially dangerous wild animals, insect bites, and hazardous plant life; equipment failure; accidental drowning, and improper lifting or carrying. Furthermore, PPSC employees have difficult jobs to perform. They seek safety, but they are not infallible. They might be unaware of a participant’s fitness or abilities. They might misjudge the weather or other environmental conditions. They may give incomplete warnings or instructions, and the equipment being used might malfunction.
I expressly agree and promise to accept and assume all of the risks existing in this activity. My participation in this activity is purely voluntary, and I elect to participate in spite of the risks.
I hereby voluntarily release, forever discharge, and agree to indemnify and hold harmless PPSC from any and all claims, demands, or causes of action, which are in any way connected with my participation in this activity or my use of PPSC’s equipment of facilities, including any such claims which allege negligent acts or omissions of PPSC.
Should PPSC or anyone acting on their behalf, be required to incur attorney’s fees and costs to enforce this agreement, I agree to indemnify and hold them harmless for all such fees and costs.
I certify that I have adequate insurance to cover any injury or damage I may cause or suffer while participating, or else I agree to bear the costs of such injury or damage myself. I further certify that I am willing to assume the risk of any medical or physical condition I may have.
I agree that if any portion of this agreement is found to be void or unenforceable, the remaining document shall remain in full force and effect.
I give my permission to have my photo used in promotional material for PPSC, and if I donate to PPSC a copy of my photo material, give them permission to use it in promotional material without compensation.
By agreeing to this document, I acknowledge that if anyone is hurt or property is damaged during my participation in this activity, I may be found by a court of law to have waived my right to maintain a lawsuit against PPSC on the basis of any claim from which I have released them herein.

I have had sufficient opportunity to read this entire document. I have read and understood it, and I agree to be bound by its terms.</p>
            </div>
        </div>
    </div>
{% endblock %}