{% extends "base_templates/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class= "container">
        <div class="row">
            <div class="col-md-3">
                <h2>Camper Profile</h2>
                <ul>
                    <li>{{camper.fn}} {{camper.ln}}</li>
                    <li>{{camper.dob.strftime('%m/%d/%Y')}}</li>
                </ul>
            </div>
            <div class= "col-md-offset-3 col-md-6">
                <h1> Register Camper </h1>
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
{% endblock %}