{% extends "base_templates/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-7">
        <p><strong>About the Camp Volunteers</strong><br></p>
        <p>One of the central tenants at Hindu Heritage Summer Camp is Karma Yoga, the belief in selfless service as a way of life. Volunteers create a strong environment of selfless service that permeates throughout the camp and make the camp feel like a strong supportive family. They set a strong example for campers and counselors to follow when they grow up. There are two ways that you can volunteer. 
        <br><br>
        <strong>Kitchen</strong><br>
        We prepare all meals on the camp grounds for 150+ campers, counselors, and staff. We welcome lots of help in the kitchen. <br><br>
        <strong>Medical</strong><br>
        If you are licensed physician or nurse then we would love for you to come volunteer some time working in our camp infirmary. <br><br>
        <strong>Please note that volunteers serving for 3 or more days only will be housed at the ICC.</strong><br><br>
        If you are interested in volunteering, please contact the camp president, Padmanabh Kamath, at 585-749-0512 or e-mail him at ckamath1@rochester.rr.com
        </p>
    </div>
    <div class="col-md-3">
        <div class="row">
            <img src="{{ url_for('static', filename='images/volunteers/Volunteer1.jpg') }}" width='100%'>
        </div>
        <div class="row">
            <img src="{{ url_for('static', filename='images/volunteers/Volunteer2.jpg') }}" width='100%'>
        </div>
        <div class="row">
            <img src="{{ url_for('static', filename='images/volunteers/Volunteer3.jpg') }}" width='100%'>
        </div>
        <div class="row">
            <img src="{{ url_for('static', filename='images/volunteers/Volunteer4.jpg') }}" width='100%'>
        </div>
        <div class="row">
            <img src="{{ url_for('static', filename='images/volunteers/Volunteer5.jpg') }}" width='100%'>
        </div>
    </div>
</div>

{% endblock %}
